header {
  background: no-repeat url('coffee-header.jpg');
	background-size: cover;
  text-align: center;
  padding: 50px;
}
nav a {
  text-align: center;
  text-decoration: none;
	color: white;
	display: inline-block;
	background-color: #cd853f;
	width: 10%;
	padding: 10px 20px;
	margin: 20px;
	border-radius: 10px;
}
body {
  background: #8b4513;
  color: #FFFFFF;
  font-family: Impact;
  text-align: center;
}
body table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
body a {
  color: #FFFFFF;
}
body img {
  width: 20%;
}
